@import "../../assets/scss/index.scss";

.navigation
{
    border-bottom: 1px solid $border;
    padding-bottom: 20px;
    list-style-type: none;
    @include flex($justify:flex-start);

}

.mini
{
    margin-top: -40px;
    text-align: right;
    @include mq("tablet")
    {
        display: none;
    }
    button
    {
        background-position: $light-blue;
        color: $blue;
        width: 30px;
        height: 30px;
        border:1px solid $blue;
        border-radius: 50%;
        text-align: center;

        &:disabled
        {
            cursor: not-allowed;
            opacity: 0.8;
            border:1px solid transparent;
        }

        &:first-of-type
        {
            margin-right: 10px;
        }
    }
}

.tabTitle
{
    background-color: transparent;
    border:none;
    grid-template-columns: 32px auto;
    gap: 12px;
    align-items: center;
    margin-right: 40px;
    color: $grey;
    font-weight: 500;
    font-size: 18px;
    display: none;

    &.active
    {
        color: $black;
        display: grid;
    }

    @include mq("tablet")
    {
        display: grid;
    }


    .icon
    {
        border-radius: 3px;
        padding:5px 10px;
        background-color: $border;

        i
        {
            transform: translateX(-12%);
            color:$blue;
        }

        &.active
        {
            background-color: $blue;
            color: #fff;
        }
    }

    .title
    {
        display: none;
        @include mq("tablet")
        {
            display: initial;
        }
    }


}

.panel
{
    .step
    {
        color: $grey;
        font-size: 13px;
        margin: 40px 0 20px;
    } 
    
    & > footer
    {
        text-align: right;
        border-top: 1px solid $border;
        padding:10px 0;
        margin: 40px 0 10px;
        max-width: $maxWidth;

    }
}
